<article>

  <section class="sobre">


    <div class="box-sobre">

      <div class="box-nome">
        <picture>
          <img src="assets/imagem/avatar/nerg-barba.png">
        </picture>
        <h2>
          <p>Eu sou <span>Rômulo</span> Mota</p>
          <p class="texto-interativo">
          <!-- metodo para interatividade -->
            <span class="desenvolvedor" *ngIf="condicaoDesenvolvedor">Desenvolvedor Web</span>
            <span class="fullstack" *ngIf="condicaoFullStack">Full Stack</span>
          </p>
        </h2>
      </div>


      <div class="box-preview">
        <h3><code>public comoTudoComecou: String = "Um pouco sobre mim.";</code></h3>
        <p class="pSobre">
          A muitos anos atrás fui apresentado aos jogos de computado por um colega de escola, que me chamou a
          atenção de imediato, pois até o momento conhecia somente os de console, e como era de costume nessa
          época de emprestar e trocar cartuchos, fui logo pedindo emprestado.<br>
          Nisso empolgado fui para casa instalar, mas após a instalação percebi que não funcionava da mesma
          maneira, e logo procurei saber dos motivos, e descobri que existia uma coisa chamada requisitos, que não
          era como nos console, e confesso que na época não entendi nada desses requisitos.<br>
          Porem como todo bom curioso, não parei de pesquisar e aprender mais sobre o assunto, e quando menos
          assustei, tempos depois, já estava fazendo cursos e aprendendo cada dia mais, e já era como se diz, um
          entusiasta.<br>
          Uma coisa foi puxando a outra, até que estava trabalhando em uma loja de informática, e tempos depois na
          indústria, e com isso tive contato com vários sistemas diferentes no dia a dia, e como a curiosidade
          matou o gato, e eu não aprendo, mais uma vez estou eu estudando sobre um assunto novo, de como tudo
          funciona, e fazendo novos cursos.<br>
          Agora estou eu aqui, preso em mais uma paixão, que como todo bom casal, às vezes ela me fala que estou
          errado, e mesmo eu insistindo vigorosamente ter certeza de estar certo, no final ela sempre tem a razão,
          e tenho que admitir meu erro, mas sempre voltamos a nos entender, e continuamos de onde páramos.<br>
          Mais ainda acredito que um dia vou ganhar nessas discurções, ou eu talvez seja só mais um iludido.
        </p>
      </div>

    </div>



  </section>
</article>

