@background-color: #1d365d;
@background-color-destaque: #0B1A28;
@font-color-background-destaque: #428BCA;
@font-color: #9BABC5;
@font-color-destaque: #FFFFFF;

article{
  background-color: @background-color;
}

article section.sobre {
  color: @font-color;
  min-width: 300px;
  padding: 100px 20px 30px 20px;

  div.box-sobre {
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

    div.box-nome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      picture {
        img {
          width: 400px;
        }
      }

      h2 {
        font-size: 30px;
        display: flex;
        flex-direction: column;

        p.texto-interativo {
          font-style: italic;
          margin: auto;
          padding-bottom: 30px;
        }

        p {
          margin-bottom: -8px;

          span {
            color: @font-color-destaque;
          }
        }
      }
    }

    div.box-preview {
      font-size: 14px;
      margin: 20px;
      h3{
        font-size: 16px;
        background-color: @background-color-destaque;
        width: fit-content;
        padding: 2px;
        border-radius: 5px;
        code{
          color: @font-color-background-destaque;
            }
      }
    }

  }
}

