@background-color: #F9F9F9;
@color-texto: #777788;
@color-titulo-principal: #1D365D;
@color-titulo-secundario: #43759E;

@background-box-projeto: #FFFFFF;
@font-color-descricao: #777788;
@font-color-box-hover: #FFFFFF;


section.externa {
  background-color: @background-color;
  padding: 5px 0 25px;

  section.interna {
    width: 80%;
    margin: auto;
    max-width: 1180px;
    padding: 40px 30px;

    div.tituloH2 {
      margin: auto;
      width: fit-content;

      h4 {
        margin: auto;
        padding-right: 8px;
        width: fit-content;
        font-size: 14px;
        font-variant-caps: all-petite-caps;
        font-weight: bold;
        color: @color-titulo-secundario;
      }

      h2 {
        width: fit-content;
        font-size: 30px;
        color: @color-titulo-principal;
        margin: -5px auto auto;
        padding-bottom: 10px;
        font-weight: bold;
      }

      p {
        margin: auto;
        width: fit-content;
        font-size: 14px;
        color: @color-texto;
        max-width: 600px;
        text-align: center;
        line-height: 15px;
      }
    }

    div.box-portifolio-externo{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: auto;
      justify-content: center;

      div.box-portfolios {
        padding: 60px 10px 0 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

      div.projetos-exemplos {
        max-width: 360px;
        height: 440px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
        font-size: 14px;
        background-color: @background-box-projeto;

        picture.imagem-projeto {
          img {
            width: 100%;
            height: 200px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 10px 10px 0 0;
          }
        }


        div.descricao-projeto {
          margin: 30px 25px 10px 25px;

          h4 {
            font-size: 12px;
            font-variant-caps: all-petite-caps;
            font-weight: bold;
            color: @color-titulo-secundario;
          }

          h2 {
            font-size: 14px;
            color: @color-titulo-principal;
            font-weight: bold;
            margin-top: -10px;
          }

          p {
            color: @font-color-descricao;
            font-size: 12px;
            padding-bottom: 20px;
            line-height: 15px;
          }

          picture {
            img {
              width: 15px;
              height: 15px;
              margin: 20px 5px 0 0;
            }
          }

          ul.box-projeto {
            display: flex;
            padding: 0;

            li {
              list-style: none;
              padding-right: 15px;

              a {
                text-decoration: none;
                color: @color-titulo-secundario;
                font-size: 12px;

                i {
                  padding-right: 3px;
                }
              }


            }
          }
        }

      }
    }

    }

  }

}

//carousel imagens
div.box-carousel{
  position: absolute;
  width: 100%;
  transform: translateX(15%);

  div#posicionamento-carousel {
  width: 100%;
  display: none;

    div.imagem-carousel {
      background-color: rgba(0, 0, 0, 0.3);
      min-width: 600px;
      width: 70%;
      padding-bottom: 10px;
      border-radius: 10px;


      div.close-carousel {
        display: flex;
        justify-content: right;

        button {
          padding: 0 10px 0 10px;
          margin-bottom: -10px;
          font-size: 20px;
          font-weight: bold;
          color: @color-titulo-secundario;
          border: none;
          background-color:rgba(0, 0, 0, 0.0);
        }
      }


      div.picsum-img-wrapper {
        display: flex;
        justify-content: center;

        img {
          padding: 5%;
          min-width: 600px;
        }
      }

    }
  }
}

//configuração para scroll-reveal service, onde a
// visibilidade deve ser gerenciada pelo mesmo
.tituloH2, .box-portifolio-externo {
  visibility: hidden;
}
