<section class="externa">

  <section>

    <div class="tituloH2">
      <h4>Projetos</h4>
      <h2>Portfólio</h2>
      <p>Preparado para ver em ação minhas habilidades alienígenas? Esta sessão não foi feita para pessoas de coração
        fraco, logo recomendo navegar com bastante atenção e cautela.</p>
    </div>

    <div class="box-portfolios" *ngFor="let projeto of projetos">

      <div class="projetos-exemplos">

        <picture class="imagem-projeto">

          <a routerLink="">
            <img [src]="projeto.imagemProjeto[0]" alt="Imagem 1">
          </a>

<!--          <ngb-carousel [showNavigationArrows]="true" *ngIf="projeto.imagemProjeto" [interval]="0">-->

<!--            <ng-template ngbSlide>-->
<!--              <img [src]="projeto.imagemProjeto[0]" alt="Imagem 1"/>-->
<!--            </ng-template>-->

<!--            <ng-template ngbSlide>-->
<!--              <img [src]="projeto.imagemProjeto[1]" alt="Imagem 2"/>-->
<!--            </ng-template>-->

<!--            <ng-template ngbSlide>-->
<!--              <img [src]="projeto.imagemProjeto[2]" alt="Imagem 3"/>-->
<!--            </ng-template>-->

<!--          </ngb-carousel>-->

        </picture>

        <div class="descricao-projeto">
          <h4>{{ projeto.desenvolvimento }}</h4>
          <h2> Informações sobre o projeto</h2>
          <p>{{projeto.descricao}}</p>
          <h2>Tecnologias usadas no projeto</h2>
          <picture *ngFor="let imagHabilidades of projeto.imagemHabilidades">
            <img [src]="imagHabilidades">
          </picture>
          <ul class="box-projeto">
            <li>
              <a href="{{projeto.link1}}" target="_blank">
                <i class="fa-brands fa-github"></i>Código</a>
            </li>
            <li><a href="{{projeto.link2}}" target="_blank">
              <i class="fa-solid fa-magnifying-glass"></i>Preview</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </section>
</section>

