<section>

  <div class="tituloH2">
    <h2>Portfólio</h2>
  </div>

  <div class="box-postfolios">


    <div class="projetos-exemplos">
      <header><h3>Front-End</h3></header>
      <picture class="imagem-projeto"><img src="assets/imagem/projetos/portfolio/sobre-habilidades.png"></picture>

      <div class="descricao-projeto">
        <h4>Descrição :</h4>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas mais interessantis. Aenean
          aliquam molestie leo, vitae iaculis nisl. </p>
        <h4>Tecnologias usadas no projeto :</h4>

        <ul>
          <li>
            <a href="#"><i class="fa-solid fa-code"></i>Código</a></li>
          <li><a href="#"><i class="fa-solid fa-video"></i>Preview</a></li>
        </ul>
      </div>

    </div>


  </div>

</section>

