<article>
  <header>
    <div>
      <h3><span>Bem vindo</span> ao meu portfólio <span>!</span></h3>
    </div>
  </header>

  <section>
    <div>
      <h4>Tecnologias</h4>
      <h2>Habilidades</h2>
      <p>
        A fim de sempre continuar me aprimorando, não se assuste se a cada vista houver mais armas em meu arsenal.
      </p>
      <h3>{{ tecnologiaAtual }}</h3>

      <!-- Simulando entrada de dados por banco de dados-->
      <div class="box-habilidades">
        <picture *ngFor="let habilidade of habilidades">
          <img [src]="habilidade.imagem" alt="{{habilidade.tecnologia}}"
               (mouseover)="atualizarTecnologia(habilidade.tecnologia)" (mouseleave)="limparTecnologia()">
          <!--Exibir em h3 informação ao passar o mouse e limpar sem mouse-->
        </picture>
      </div>

    </div>
  </section>
</article>
