<article>

  <section>
    <div>
      <h2>Habilidades</h2>
      <picture>
        <img src="assets/imagem/logo-habilidades/angular.png" alt="">
        <img src="assets/imagem/logo-habilidades/html5.png" alt="">
        <img src="assets/imagem/logo-habilidades/css3.png" alt="">
        <img src="assets/imagem/logo-habilidades/javascript.png" alt="">
        <img src="assets/imagem/logo-habilidades/typescript.png" alt="">
        <img src="assets/imagem/logo-habilidades/java.png" alt="">
        <img src="assets/imagem/logo-habilidades/python.png" alt="">
        <img src="assets/imagem/logo-habilidades/django.png" alt="">
        <img src="assets/imagem/logo-habilidades/mysql.png" alt="">
        <img src="assets/imagem/logo-habilidades/postgresql.png" alt="">
        <img src="assets/imagem/logo-habilidades/intellj.png" alt="">
        <img src="assets/imagem/logo-habilidades/pycharm.png" alt="">
      </picture>
    </div>

  </section>

</article>
