section {
  width: 80%;
  margin: auto;
  div {
    max-width: 800px;
    margin: auto;
    background-color: #FFFFFF;
    padding: 40px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    h2{
      margin: auto;
      width: fit-content;
      font-size: 30px;
      color: #1D365D;
    }
    h3{
      margin: auto;
      width: fit-content;
      height: 20px;
      font-size: 20px;
      font-style: italic;
      color: #43759E;

    }
    picture{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 40px;
      img{
        width: 100px;
        height: 100px;
        padding: 5px;
        margin: 5px;
      }
      img:hover{
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
      }
    }
  }
}
