@background-color: #FFFFFF;
@background-color-header: #F9F9F9;
@color-texto: #777788;
@color-titulo-principal: #1D365D;
@color-titulo-secundario: #43759E;


header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  min-height: 40px;
  width: 100%;
  background-color: @background-color-header;

  div {
    width: 80%;
    max-width: 1300px;
    margin: auto;

    h3 {
      font-size: 14px;
      padding-top: 10px;
      color: @color-texto;

      span {
        color: @color-titulo-secundario;
      }
    }
  }
}

section {
  width: 80%;
  margin: auto;

  div {
    max-width: 1300px;
    margin: auto;
    padding: 40px 30px;

    div.titulo-habilidades {
      h4 {
        padding-top: 5px;
        margin: auto;
        width: fit-content;
        padding-right: 11px;
        font-size: 14px;
        font-variant-caps: all-petite-caps;
        font-weight: bold;
        color: @color-titulo-secundario;
      }

      h2 {
        width: fit-content;
        font-size: 30px;
        color: @color-titulo-principal;
        margin: -5px auto auto;
        padding-bottom: 10px;
        font-weight: bold;
      }

      p {
        margin: auto;
        width: fit-content;
        font-size: 14px;
        color: @color-texto;
        max-width: 400px;
        text-align: center;
        line-height: 15px;
      }

      h3 {
        width: fit-content;
        height: 20px;
        font-size: 20px;
        font-style: italic;
        color: @color-titulo-secundario;
        padding-top: 10px;
        margin: auto auto -8px;
      }
    }

    div.box-habilidades {
      box-shadow: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1000px;

      picture {
        img {
          width: 100px;
          height: 100px;
          padding: 5px;
          margin: 5px;
        }

        img:hover {
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
          border-radius: 10px;
        }
      }
    }

  }
}

//configuração para scroll-reveal service, onde a
// visibilidade deve ser gerenciada pelo mesmo
.titulo-habilidades, .revelarOpacidade {
  visibility: hidden;
}
